@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Courier New", Courier, monospace;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    margin: 15px;
}

p{
    text-align: center;
    position: relative;
    top: 25rem;
    font-size: 24px;
}