@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Courier New", Courier, monospace;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.main {
  display: flex;
  position: relative;
  z-index: 1;
}



.main a {
  text-decoration: none;
  margin: 15px;
  color: antiquewhite;
  text-shadow: 0 0 5px black;
}

.main .col2 a:hover{
  transition: color 0.3s ease;
  color: aquamarine;
}

.main .col1 {
  width: 50%;
}

.main .col1 p{
  text-decoration: none;
  margin: 15px;
  color: antiquewhite;
  text-shadow: 0 0 5px black;
  padding-top: 10rem;
  padding-bottom: 15rem;
  padding-left: 1rem;
}

.main .col1 img{
  width: 50%;
  height: auto;
  position: relative;  
}

.main .col2 {
  margin-top: 15rem;
}

.main .col2 a {
  display: flex;
  font-size: 36px;
  margin: 5rem;
}
